@font-face{
	font-family: poppins;
	src: url("poppins.ttf");
}


@font-face{

	font-family: poppins;
	src:url("poppins_bold.ttf");
	font-weight: bold;		
}


*{
	font-family: poppins;
	
 }

 body{
 	overflow-x: hidden;
 }

 /*styles for the header*/


:root{
	--primary-color:#212529 ;
	--secondary-color:#fff;
	--footer-text-padding: 0.8rem;
}


/*utility color classes*/


/*unstyled list items*/

.fourth-section ul.list-unstyled > li {
	text-transform: capitalize;
	padding-bottom: var(--footer-text-padding);
	text-align: center;

}


.footer-text-section > ul.list-unstyled > li{
	text-transform: capitalize;
	padding-bottom: var(--footer-text-padding);
	text-transform: capitalize;
}

/* custom styles for the navbar */
.fixed-navbar{
    position: fixed;
	

}


/*waitlist input element styling */

.waitlist-input{
	width:75%;
}

.waitlist-label{
	transform:translateX(80px);
}


@media (max-width:768.98px) {

	body{
		overflow-x: hidden;
	}

	#content-contain{
	    display: flex;
	    flex-direction: column;
	}

	#img_container{
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;

	}

	.wave{
		transform: translateY(0px);
	}

	.waitlist-input{
		width:100%;
	}

	.waitlist-label{
		transform: translateX(0px);
	}


	.waitlist-button{
		width:100%;
	}


}


@media (min-width:667.98px){

	.form{
		width:50%
	}

	body{
		overflow-x:hidden;
	}
	
}

